<div class="login-background">
  <div class="login-container">
    <!-- Ícone ou imagem -->
     <!-- Logo + texto -->
    <div class="login-logo">
      <mat-icon class="logo-icon">contacts</mat-icon>
      <h2 class="welcome-text">Bem-vindos à Contactura</h2>
    </div>

    <!-- Formulário -->
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched">
          Informe um email válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched">
          Senha obrigatória
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="form.invalid">
        Entrar
      </button>
    </form>

    <!-- Links extras -->
    <div class="login-links">
      <a routerLink="/cadastro">Cadastre-se</a>
      <a routerLink="/recuperar-senha">Recuperar senha</a>
    </div>
  </div>
</div>
