.login-background {
  background-color: #5264ab; // azul claro
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

.login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-icon {
  font-size: 48px;
  color: #5119d2;; // azul material
}

.welcome-text {
  margin-top: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #140e25;
}


.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.login-links a {
  font-size: 14px;
  color: #0f032b;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
  background-color: #5264ab;
  border-radius: 5px;
}
