@use '../../../responsive' as r;

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 40px;
  min-height: 70vh;

  @include r.mobile {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
}

.welcome-text {
  max-width: 500px;

  h1 {
    font-size: 2.5em;
    font-weight: bold;

    @include r.mobile {
      font-size: 2em;
    }
  }

  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
}

.welcome-image img {
  max-width: 300px;
  border-radius: 8px;

  @include r.mobile {
    max-width: 100%; // Garante que a imagem não ultrapasse a largura da tela
  }
  margin-top: 20px;
}


