@use '../../../responsive' as r;

.dashboard-card {
  margin-bottom: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; // Garante que o botão não quebre em telas muito pequenas
  gap: 16px;
}

mat-card-content {
  // Em telas pequenas, permite que a tabela role horizontalmente
  @include r.mobile {
    overflow-x: auto;
  }
}

// Garante que a tabela ocupe o espaço necessário para não quebrar
table {
  width: 100%;
}

.table-container {
  // Em telas pequenas, permite que a tabela role horizontalmente
  @include r.mobile {
    overflow-x: auto;
  }
  margin-bottom: 1rem;
}
